<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!positions"><em>Loading...</em></p>

<table class='table' *ngIf="positions">
  <thead>
    <tr>
      <th>PositionId</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Spot</th>
      <th>Position</th>
      <th>Delta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let position of positions">
      <td>{{ position.positionId }}</td>
      <td>{{ position.symbol }}</td>
      <td>{{ position.quantity }}</td>
      <td>{{ position.spot }}</td>
      <td>{{ position.position }}</td>
      <td>{{ position.delta }}</td>
    </tr>
  </tbody>
</table>
