<h1>Live Positions</h1>

<p *ngIf="!positions"><em>Loading positions...</em></p>

<table class='table' *ngIf="positions">
  <thead>
  <tr>
    <th>PositionId</th>
    <th>Symbol</th>
    <th>Quantity</th>
    <th>Spot</th>
    <th>Position</th>
    <th>Delta</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let position of positions">
    <td>{{ position.id }}</td>
    <td>{{ position.sbl }}</td>
    <td>{{ position.q }}</td>
    <td>{{ position.spt }}</td>
    <td>{{ position.pos }}</td>
    <td>{{ position.dlt }}</td>
  </tr>
  </tbody>
</table>
